<app-search *ngIf="isSearchVisible"></app-search>
<div class="books-list">
  <h2>Books List</h2>

  <div class="container-fluid">
    <div>
      <div class="row">
        <div
          class="col-md-6 col-lg-3 col-sm-12"
          *ngFor="let singlebook of books; let i = index"
          style="margin-top: 30px"
        >
          <app-book
            (bookEmitter)="addToCart($event)"
            [book]="singlebook"
          ></app-book>
        </div>
      </div>
    </div>
  </div>
</div>
