<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
></script>
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Illustration -->
      <a href="#home"
        ><a class="navbar-brand" href="#" style="font-size: 20px">
          <img width="35px" height="auto" src="../assets/logo.png" />
          BooksApp
        </a>
      </a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <!-- New list item for cart button -->
      <li class="cart-button">
        <a href="#cart"
          ><img src="../assets/cart.png" alt="Cart" width="25px"
        /></a>
      </li>
    </ul>
  </div>
</nav>

<app-books></app-books>
