<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
></script>
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Illustration -->
      <a href="#home"
        ><a class="navbar-brand" href="#" style="font-size: 20px">
          <img width="35px" height="auto" src="../assets/logo.png" />
          BooksApp
        </a>
      </a>
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <!-- Cart Button -->
      <li class="cart-button">
        <a routerLink="/cart"
          ><img src="../assets/cart.png" alt="Cart" width="25px"
        /></a>
      </li>
      <!-- Login Button -->
      <li class="login-button">
        <a routerLink="/auth" *ngIf="!isAuthenticated()">Login</a>
      </li>
      <li class="logout-button" *ngIf="isAuthenticated()" (click)="logout()">
        <a routerLink="/auth">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
